{% extends "Core/base.html" %}

{% block content %}

<div class="container full-height d-flex flex-column justify-content-center align-items-center">
  
  <p class="h2">Available Courses</p>
  <div class="form-container">
    <form method="POST">
      {% csrf_token %}

        <div class="mb-3 mt-3 row g-2 align-items-end">
            <div class="col-auto">
                <label for="Level" class="form-label">Level:</label>
                <select class="form-control form-select" id="Level" name="level" style="min-width: 120px;">
                    <option value="" disabled selected>Select Level</option>
                    {% for level in levels %}
                        <option {% if level_filter and level_filter == level %} selected {% endif %} value="{{level}}">{{level}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-auto">
                <label for="semester" class="form-label">Semester:</label>
                <select class="form-control form-select" id="semester" name="semester" style="min-width: 120px;">
                    <option value="" disabled selected>Select Semester</option>
                    {% for semester in semesters %}
                        <option {% if semester_filter and semester_filter == semester %} selected {% endif %} value="{{semester}}">{{semester}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-auto">
                <button type="submit" class="btn btn-outline-primary mt-4" style="width%">Filter</button>
            </div>
        </div>
    </form>
    <div class="scrollable-table">

        <table class="table"><table class="table table-bordered">
            <thead>
                <tr>
                <th scope="col">Course</th>
                <th scope="col">Register</th>
                </tr>
            </thead>
            <tbody>
              {% for course in courses %}
                <tr>
                  <th scope="row">{{course.name}} ({{course.code}})</th>
                  <td><button type="button" class="btn btn-primary">Register</button></td>
                </tr>
              {% endfor %}
            </tbody>
        </table>

    </div>
  </div>
</div>
<style>
    .scrollable-table {
        max-height: 500px; /* Set the maximum height for the scrollable area */
        overflow-y: auto; /* Enable vertical scrolling */
        width: 100%;
    }
</style>

{% endblock content %}