{% extends "authentication/base.html" %}

{% block content %}

 <p class="h2">Register</p>
    <div class="form-container scrollable">
      <form method="POST">
        {% csrf_token %}
        <div class="mb-3 mt-3">
          <label for="username" class="form-label">E-mail:</label>
          <input type="email" class="form-control" id="username" value="{{request.GET.email|default:""}}" placeholder="Enter email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="pwd" class="form-label">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
        </div>
        <div class="mb-3 mt-3">
          <label for="first_name" class="form-label">Full name:</label>
          <input type="text" class="form-control" id="first_name" value="{{request.GET.full_name|default:""}}" placeholder="Enter your full name" name="full_name" required>
        </div>
        <div class="mb-3 mt-3">
          <label for="matric_number" class="form-label">Matric Number:</label>
          <input type="text" class="form-control" id="matric_number" minlength="6" value="{{request.GET.matric_number|default:""}}" placeholder="Enter matric number" name="matric_number" required>
        </div>
        <div class="mb-3 mt-3">
            <label for="Level" class="form-label">Level:</label>
            <select class="form-control form-select" id="Level" name="level">
              <option value="" disabled selected>Select Level</option>
              {% for level in levels %}
                  <option {% if level == request.GET.level %} selected {% endif %} value="{{level}}">{{level}}</option>
              {% endfor %}
            </select>
        </div>
        <div class="mb-3 mt-3">
            <label for="faculty" class="form-label">Faculty:</label>
            <select class="form-control form-select" id="faculty" name="faculty">
              <option value="" disabled selected>Select Faculty</option>
              {% for faculty in faculties %}
                  <option {% if faculty.name == request.GET.faculty %} selected {% endif %} value="{{faculty.name}}">{{faculty.name}}</option>
              {% endfor %}  
            </select>
        </div>

        <div class="mb-3 mt-3">
            <label for="department" class="form-label">Department:</label>
            <select class="form-control form-select" id="department" name="department">
              <option value="" disabled selected>Select Department</option>
              {% for department in departments %}
                  <option {% if department.name == request.GET.department %} selected {% endif %} value="{{department.name}}">{{department.name}}</option>
              {% endfor %}
            </select>
        </div>
        
        <div class="form-check mb-3">
          <p>Have an account? <a href="{% url 'login_user' %}">Login</a></p>
        </div>
        <button type="submit" class="btn btn-primary w-100">Register</button>
      </form>
    </div>  

{% endblock content %}